.cabeçalho {
    background: #00BFFF;
    background-color: ;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: padding 24px 0;
    }
    .cabeçalho-imagem{
    width: 20%
    }
    .cabeçalho-lista-item{
    display: inline-block;
    font-size: 24px;
    margin: 0 16px
    }
    escola-imagem{
        width: 25%
    }

    .escola{
        background-imagem: linear -gradient(#7B68EE,#8A2BE2);
        color: #000;
        display: flex;
        justify-content: center;
        padding: 24px 0;
    }
    .escola-div-conteudo{
        width: 35%;
        font-size: 24px;
    }
    .escola-titulo{
        padding: 24px 0;
    }
